thead tr th,
td {
    position: relative;
    height: 50px;
    width: 50px;
    text-align: left;
}

.ligne {

    .content__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.content__table {
    display: block;
    max-height: 250px;
    overflow: scroll;
}

.content__status {

    display: block;
    height: 60px;

    position: relative;
}

.user__member {
    position: absolute;
    bottom: 15px;
    right: 2px;

    font-weight: bolder;

    text-align: end;
}