<div class="d-block">
    <div class="card element-card">
        <img class="card-img-top" src={{element.image}} alt="Card image cap">

        <div class="card-body">
            <div class="card-content">

                <div class="content-title">
                    <span>
                        <img src="assets/images/other/etoil.svg" alt="svg">
                        <img src="assets/images/other/etoil.svg" alt="svg">
                        <img src="assets/images/other/etoil.svg" alt="svg">
                    </span>
                    <h1>{{element.name}} </h1>
                </div>
                <p class="card-text">{{element.description}}</p>
                <div class="card-after">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, fugiat?
                    </p>
                    <button class="btn btn-primary" (click)="handleClick()"> Read more ...</button>
                </div>
            </div>
        </div>
    </div>
</div>