<div class="d-block">
    <div class="card element-card">
        <img class="card-img-top" src={{element.image}} alt="Card image cap">

        <div class="card-body">
            <div class="card-content">
                <h1>{{element.name}} </h1>
                <p class="card-text">{{element.description}}</p>
                <p class="text-secondary">
                    Price : {{element.price | currency : "EUR" : 'symbol': '1.2-2'}}
                </p>
                <div class="card-after">
                    <app-start-rating (handleClickFromStartRating)="handleClickedFromAppStart($event)">
                    </app-start-rating>
                    <p class="mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, fugiat?
                    </p>
                    <a class="btn btn-primary" [routerLink]="['/show' , element.type, element.id]">
                        Read more ...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>