<app-nav></app-nav>
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <div class="form-data">
                    <div class="forms-inputs mb-4">
                        <span>Email or username</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="forms-inputs mb-4">
                        <span>Password</span>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-light w-100">Se Connecter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>