<div class="content">
    <app-nav></app-nav>
    <div class="container content-show">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure consequatur id, quaerat libero neque delectus ex
        voluptatum, labore non praesentium vel sunt autem aliquam ipsum sequi. Dicta dolor illum labore.
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias a porro quibusdam voluptatum tempora
            numquam, modi natus fugiat facere nostrum atque rerum dolore, ad inventore ipsum. Sit sapiente assumenda
            vero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aut nemo vero quisquam dignissimos eius?
            Voluptate totam assumenda doloribus vero officia nisi dolorem, nostrum hic repudiandae soluta quas aperiam
            et?
            Possimus laborum cumque eveniet numquam aliquam, excepturi, beatae libero ipsa fuga magni at reprehenderit
            impedit. Porro veniam mollitia impedit, hic culpa nobis quo a voluptates eos voluptas voluptatum nulla
            cumque.

        </p>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta et illum omnis qui dolorum excepturi modi
            facere quae inventore. Aperiam at tempore itaque aliquid alias incidunt officiis a exercitationem
            consequatur!
            A mollitia omnis quidem laborum cupiditate eum, error ullam explicabo. Quaerat quas eligendi quos quis quia,
            perferendis velit accusamus consequatur modi sapiente fugit praesentium, quo laborum odio cumque laudantium
            in.
            Ad earum dignissimos repellendus eligendi non! Esse ut maxime eum quae voluptatem porro repudiandae saepe
            veritatis impedit ipsam culpa nostrum necessitatibus dignissimos et repellendus omnis atque architecto,
            praesentium numquam pariatur.
            Laudantium magnam eligendi delectus ex minima voluptatibus, id sunt atque libero vitae, porro reiciendis
            optio
            facilis quod molestiae. Error, sint? Magnam pariatur quae doloribus, neque commodi minus excepturi
            laudantium
            error?
            Minus eaque blanditiis doloremque saepe officiis quibusdam similique maxime nobis, quaerat adipisci itaque
            dolores beatae esse quidem amet nisi ex, suscipit consequatur. Tenetur atque totam in deserunt! Vitae,
            voluptatum. Error.

        </p>
    </div>
    <app-footer></app-footer>
</div>