@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.redressed {
	font-family: 'Redressed', cursive;
}

.merriweather {
	font-family: 'Merriweather', serif;
}

.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55);
	font-family: 'Merriweather', serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
	user-select: none;
	cursor: pointer;
}

.content__navbar {
	border: 1px solid rgba(0, 0, 0, 0.246);

}

.link {
	display: block;
	transition: .5s !important;

	&::after {
		content: "";
		display: block;
		padding-top: 5px;
		border-bottom: 2px solid rgba(255, 255, 255, 0.54);
		transition: .5s;
	}

	&:hover {
		font-weight: bolder;
		transform: scale(1.2);
		transform-origin: center;
		color: #153552;

		&::after {
			border-bottom: 2px solid #153552;
		}
	}
}



.order-form {
	height: 500px;
}

.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.logo {
	width: 250px;
	height: 100px;
}

.content__nav__search {
	margin: 0 auto;

	.nav__search {
		display: block;
		width: 80%;
		margin: 0 auto;
		border: 0.5px solid rgba(0, 0, 0, 0.246);
		border-radius: 25px;
		padding: 15px 25px;

		&:focus {
			border: none;
		}

	}
}

.content__card {
	height: 100px;
	border: 1px solid rgba(0, 0, 0, 0.246);
	border-top: 0;
	border-bottom: 0;
}

.content__category {
	height: 50px;
}

.add__click {
	cursor: pointer;
	user-select: none;
}

.cat__element {
	position: absolute;
	top: 35px;
	left: 0;

	width: 300px;
	background-color: #afb7bf44;
	padding: 1rem 1.5rem;
	font-weight: 100;
}

.app__element {
	position: absolute;
	top: 35px;
	left: 0;

	width: 100px;
	background-color: #afb7bf44;
	padding: 1rem 1.5rem;
	font-weight: 100;
}