<nav class="cc-navbar navbar navbar-expand-lg navbar-light bg-light w-100">
    <div class="container">
        <a class="navbar-brand text-uppercase   py-2 fw-bolder" routerLink="/home">
            <img class="logo" src="../../../assets/images/other/logo.png" alt="logo">
            I'Clo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item pe-3">
                    <a class="nav-link link" aria-current="page" routerLink="/home"
                        routerLinkActive="active">Articles</a>
                </li>
                <li class="nav-item pe-3">
                    <a class="nav-link link" (click)="goToDashBoard()" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item pe-3">
                    <a class="nav-link link" routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item p-2">
                    <a *ngIf="!authService.isLoggedIn()" class="rounded-2" routerLink="/login">
                        <img src="../../../assets/images/other/login.jpg" alt="login" width="30" height="30">
                    </a>

                    <a *ngIf="authService.isLoggedIn()" class="rounded-2" (click)="logout()">
                        <img src="../../../assets/images/other/logout.png" alt="login" width="30" height="30">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>