<app-nav></app-nav>

<div class="container mt-5">
    <div class="content-car">
        <div class="content-title">
            <h1> Car Accessory</h1>
            <ul>
                <li *ngFor="let car of cars">
                    <div class="card">
                        <img class="card-img-top" src={{car.image}} alt="Card image cap">
                        <div class="card-body">
                            <h1>
                            {{car.name}}
                            </h1>
                            <p class="card-text">{{car.description}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>