<app-nav></app-nav>
<div class="container mt-5">
    <div class="content">
        <div class="content-title">
            <h1> Car Accessory</h1>
            <hr />
            <div class="row">
                <app-card *ngFor="let car of cars" [element]="car" class="col-md-3 col-sm-6">
                </app-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-title">
            <h1> Scooter Accessory</h1>
            <hr />
            <div class="row">
                <app-card *ngFor="let scooter of scooters" [element]="scooter" class="col-md-3 col-sm-6">
                </app-card>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-title">
            <h1> Informatique Accessory</h1>
            <hr />
            <div class="row">
                <app-card *ngFor="let info of informatiques" [element]="info" class="col-md-3 col-sm-6">
                </app-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>